@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#main{
    background: url(https://images.squarespace-cdn.com/content/v1/5c128ce685ede134e78a456d/1587408612519-W2JL09WGNK77F8YNMAPV/cbt-online-banner-home-11.jpg?format=2500w);
    background-size: cover;
font-family: poppins;
}
#main2{
    background: url(https://images.squarespace-cdn.com/content/v1/5c128ce685ede134e78a456d/1587182829618-BB98WC33NAEWH4HR8EK1/image-asset.jpeg?format=2500w);
    background-size: cover;
}

html{
    scroll-behavior: smooth;
}